
/*Default styles*/
:root {
    --main-colour: #DD615B;
    --secondary-colour: #ffc3cc;
    --text-colour: #373030;
    --secondary-text-colour: #7f7171;
}

body {
    font-family: "Nunito", "Avenir Next", sans-serif;
    --accent-color: var(--main-colour)

}

p, li {
    color: var(--text-colour)
}

.todo {
    display: flex;
    flex-direction: column;
}

.todo > .todo-main-content {
    display: flex;
    border-bottom: 0.2rem solid var(--accent-color);
    border-top: 0.2rem solid var(--accent-color);
    margin-bottom: -0.2rem;
}

.todo-main-content > .drag-handle {
    width: 2rem
}

.todo-text {
    flex-grow: 1;
    display: flex;
}

.todo-text > * {
    margin-left: 1rem;
}

.todo-text > :last-child {
    margin-right: 1rem;
}

.todo-text > input[type=checkbox] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 4px;
    border: 0.2rem solid var(--accent-color);
    align-self: center;
    cursor: pointer;
}

.todo-text > input[type=checkbox]:checked {
    background-color: var(--accent-color);
}

/*Subtodo variations*/

.subtodo-list {
    --accent-color: var(--secondary-colour);
    --text-colour: var(--secondary-text-colour)
}

.subtodo-list > .todo > .todo-main-content {
    border-top: none;
}
