
/*Default styles*/

body {
    font-family: "Nunito", "Avenir Next", sans-serif;
}

p, li {
    color: #3b4348;
}

.todo {
    display: flex
}

.todo > .drag-handle {
    width: 2rem
}

.todo-text {
    flex-grow: 1;
    display: flex;
    border: 0.2rem solid #DD615B;
    border-radius: 1em;
    margin: 1%;
}

.todo-text > * {
    margin-left: 1rem;
}

.todo-text:last-child {
    margin-right: 1rem;
}


.todo-text > input[type=checkbox] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 4px;
    border: 0.2rem solid #DD615B;
    align-self: center;
    cursor: pointer;
}

.todo-text > input[type=checkbox]:checked {
    background-color: #DD615B;
}